<div class="container text-start">
       <form *ngIf="productForm"
             [formGroup]="productForm"
             class="g-3 needs-validation"
             novalidate>
              <div class="row mb-3">
                     <div class="col-8">
                            <label for="inputTitle"
                                   class="form-label text-start">Nome Produto</label>
                            <input formControlName="title"
                                   class="form-control"
                                   [ngClass]="{'is-invalid': titleForm?.invalid && (titleForm?.dirty || titleForm?.touched), 'is-valid': !titleForm?.invalid && (titleForm?.dirty || titleForm?.touched)}"
                                   id="inputTitle"
                                   required>
                            <div *ngIf="titleForm?.invalid && (titleForm?.dirty || titleForm?.touched)"
                                 class="form-text text-danger">O campo nome do produto é obrigatório.</div>
                     </div>
                     <div class="col-4">
                            <label for="inputCategory"
                                   class="form-label text-start">Categoria Produto</label>
                            <select class="form-select"
                                    formControlName="category"
                                    [ngClass]="{'is-invalid': categoryForm?.invalid && (categoryForm?.dirty || categoryForm?.touched), 'is-valid': !categoryForm?.invalid && (categoryForm?.dirty || categoryForm?.touched)}"
                                    aria-label="Select Category">
                                   <option selected>Selecione uma categoria</option>
                                   <option *ngFor="let category of categories"
                                           [value]="category">{{category}}</option>
                            </select>
                            <div *ngIf="categoryForm?.invalid && (categoryForm?.dirty || categoryForm?.touched)"
                                 class="form-text text-danger">O campo categoria do produto é obrigatório.</div>
                     </div>
              </div>

              <div class="row">
                     <div class="col">
                            <div class="mb-3">
                                   <label for="inputPrice"
                                          class="form-label text-start">Preço Produto</label>
                                   <input formControlName="price"
                                          class="form-control"
                                          mask="separator.2"
                                          thousandSeparator=","
                                          type="text"
                                          [ngClass]="{'is-invalid': priceForm?.invalid && (priceForm?.dirty || priceForm?.touched), 'is-valid': !priceForm?.invalid && (priceForm?.dirty || priceForm?.touched)}"
                                          id="inputPrice">
                                   <div *ngIf="priceForm?.invalid && (priceForm?.dirty || priceForm?.touched)"
                                        class="form-text text-danger">O campo nome preço do produto é obrigatório.</div>
                            </div>
                     </div>
                     <div class="col">
                            <div class="mb-3">
                                   <label for="inputPrice"
                                          class="form-label text-start">Url imagem produto</label>
                                   <input formControlName="image"
                                          class="form-control"
                                          type="text"
                                          [ngClass]="{'is-invalid': imageForm?.invalid && (imageForm?.dirty || imageForm?.touched), 'is-valid': !imageForm?.invalid && (imageForm?.dirty || imageForm?.touched)}"
                                          id="inputPrice">
                                   <div *ngIf="imageForm?.invalid && (imageForm?.dirty || imageForm?.touched)"
                                        class="form-text text-danger">O campo nome preço do produto é obrigatório.</div>
                            </div>
                     </div>
              </div>

              <div class="mb-3">
                     <label for="inputDescription"
                            class="form-label text-start">Descrição Produto</label>
                     <textarea formControlName="description"
                               class="form-control"
                               [ngClass]="{'is-invalid': descriptionForm?.invalid && (descriptionForm?.dirty || descriptionForm?.touched), 'is-valid': !descriptionForm?.invalid && (descriptionForm?.dirty || descriptionForm?.touched)}"
                               id="inputDescription"></textarea>
                     <div *ngIf="descriptionForm?.invalid && (descriptionForm?.dirty || descriptionForm?.touched)"
                          class="form-text text-danger">O campo descrição do produto é obrigatório, e precisa ter no
                            mínimo 10
                            characteres.</div>
              </div>
              <button *ngIf="viewmode != 'view'"
                      type="submit"
                      (click)="sendProduct(productForm.value)"
                      [disabled]="productForm.invalid"
                      class="btn btn-primary">{{viewmode == 'edit' ? 'Editar produto' : 'Criar produto'}}</button>
       </form>
</div>